@import "styles.less";

// Custom Variables
// Uncomment and comment variables (@base, @baseDark, @img_reviews, @img_getapp) below to change between predefined colors
// Coloring : Change Your Base Light Color
// Coloring : Change Your Base Dark Color


// Freeze Theme Coloring
//@img_reviews : "../img/freeze/bk-freeze.jpg"; 
//@img_getapp : "../img/freeze/bk-freeze-ga.jpg"; 
//@base: #66cdcc; 
//@baseDark: #336799; 
// -------------- End Freeze ---------------


// Eco Theme Coloring
 @img_reviews : "../img/eco/bk-eco.jpg"; 
 @img_getapp : "../img/eco/bk-eco-ga.jpg"; 
 @base: #19d96e; 
 @baseDark: #0c1607; 
// -------------- End Eco ---------------


// Berry Theme Coloring
// @img_reviews : "../img/berry/bk-berry.jpg"; 
// @img_getapp : "../img/berry/bk-berry-ga.jpg"; 
// @base: #cc6698; 
// @baseDark: #6b396c; 
// -------------- End Berry ---------------

@lightGrey:   #999999;
@darkGrey:    #666666;
@white:       #ffffff;
@font-stack: 'Lato', Arial;



@font-face {
	font-family: 'planer';
	src: url('../fonts/Planer.ttf');
}






header{

    .bk-gradient(-45deg, @base, @baseDark);
	.logo {
		max-width: 180px;
	}
    .navbar-default {
        ul.navbar-nav {
        	padding-top: 10px;
            li {
                a {
					padding: 7px 16px;
                    color: @white;
                    background: none;
                    &.getApp {
                        color: lighten(@baseDark, 7%);
                        .bk-gradient(180deg, @white, darken(@white, 12%));
                        &:hover {
                            color: lighten(@baseDark, 10%);
                            .bk-gradient(180deg, @white, darken(@white, 20%));
                            .transitionAll;
                        }
                    }
                    &:hover {
                        color:@white;
                        .transitionAll;
                    }
                }
            }
        }
        &.scrolled{
            border-bottom: 3px solid @baseDark;
        	ul.navbar-nav{
        		li{
        			a{
        				color:@baseDark;
        				&:hover{
                            color:@baseDark;
        					&:after{
        						background: @baseDark;
        					}
        				}
        			}
        		}
        	}
        	.navbar-brand{
        		background: @baseDark;
        	}
        }
    }

}
.tp-banner-container {
	.tp-text {
		display: block;
		padding: 16px 0;
		font-size: 13px;
		color: #fff;letter-spacing: 0;
		
		&:hover {
			color: #fff;
		}
		&.visible-xs {
			padding: 0;
			margin: 0 0 15px;
		}
	}
	.tp-small-image {
		margin: -60px 0 0;
	}
	.gd-banner {
		height: 64px;
		width: 200px;
		background-image: url(../img/teamhub/gd-banner.jpg);
		background-position: left top;
		background-repeat: no-repeat;
		background-size: contain;
	}
}

section{
	.section-heading{
		h1{

		}
		.divider{
			&:after{
				background: @base;
			}
		}
	}
}

section#about {
    .about-item {
        i.fa {
        	height: 104px;
        	width: 104px;
            padding: 0;
            border: 2px solid @base;
            color: @base;
        	line-height: 104px;
        }
        &:hover {
            i.fa {
                color: @white;
                background: @base;
            }
            h3 {
                color: @base;
            }
        }
    }
}
section#features {
    background: #f6f6f6;
    header {
        h1 {
            &:after {
                background: @base;
            }
        }
    }
    .media {
        i.fa {
            border: 2px solid @base;
            color: @base;
        }
        &:hover {
            i.fa {
                color: @white;
                background: @base;
            }
            h3 {
                color: @base;
            }
        }
        &.active {
            i.fa {
                color: @white;
                background: @base;
            }
            .media-heading{
            	color: @base;
            }
        }
    }
}
section#reviews {
    background: url(@img_reviews);
    header {
        color: @white;
        h1 {
            &:after {
                background: @white;
            }
        }
    }
    .review-filtering {
        .review {
            .review-person {
                img {
                    border: 3px solid @white;
                }
            }
            .review-comment {
                background: @white;
                h3 {
                    color: @base;
                }
                p {
                    span {
                        i {
                            color: @base;
                        }
                    }
                }
                &:after {
                    border-right-color: #ffffff;
                }
            }
        }
        .slick-dots {
            li {
                button {
                    background: @white;
                    border:2px solid @white;
                }
                &.slick-active {
                    button {
                        background: @base;
                    }
                }
            }
        }
    }
}
section#screens {
    header {
        h1 {
            &:after {
                background: @base;
            }
        }
    }
    .slider {
        div {
            img {
                border: 2px solid lighten(@lightGrey, 30%);
            }
            h4 {
                color: @lightGrey;
            }
        }
        .slick-dots {
            li {
                button {
                    background: @lightGrey;
                }
                &.slick-active {
                    button {
                        background: @base;
                    }
                }
            }
        }
    }
    .filter {
        a {
            border: 2px solid lighten(@lightGrey, 20%);
            color: @lightGrey;
            &:hover {
                color: @white;
                background: @base;
                border-color: @base;
            }
            &.active {
                color: @white;
                background: @base;
                border-color: @base;
            }
        }
    }
}
/* demo video Section */
 section#demo {
    background: #f6f6f6;
    header {
        h1 {
            &:after {
                background: @base;
            }
        }
    }
}
/* Get app Section */
 section#getApp {
    background: @base;
    header {
        color: @white;
        h1 {
            &:after {
                background: @white;
            }
        }
    }
    .platforms {
        .media {
            border: 2px solid @white;
            color: @white;
            a {
                i {
                    color: @white;
                }
                div.media-body {
                    color: @white;
                }
            }
            &:hover {
                background: @white;
                a {
                    i, div.media-body {
                        color: @base;
                    }
                }
            }
        }
    }
}
/* support section */
 section#support {
    header {
        h1 {
            &:after {
                background: @base;
            }
        }
    }
    .media {
        i.fa {
            border: 2px solid @base;
            color: @base;
        }
        a {
            color: @base;
        }
        &:hover {
            i.fa {
                color: @white;
                background: @base;
            }
            h3 {
                color: @base;
            }
        }
    }
}
/* footer section */
 footer {
//    .bk-gradient(-45deg, @base, @baseDark);
	background-color: @baseDark;
    .social {
        a {
            border: 2px solid @white;
            i {
                color: @white;
            }
            &:hover {
                background: @white;
                i {
                    color: @base;
                }
            }
        }
    }
    .rights {
        color: @white;
        a {
            color: @white;
            font-weight: 300;
            text-decoration: none;
        }
    }
}

.navbar-toggle {
    background-color: #CCC;
    border: 1px solid rgba(0, 0, 0, 0);
}
.btn {
	&.btn-primary{
		color:@base;
        border-color:@base;
		&:hover{
			color:@white;
			background: @base;
            border-color:@base;
		}
        &.inverse{
            color:@white;
            border-color:@white;
            &:hover{
                color:@white;
                background: @base;
                border-color:@base;
            }
        }
	}
    &.btn-default {
        .bk-gradient(180deg, @white, darken(@white, 20%));
        color:@baseDark;
        &:hover{
        	color:@baseDark;
        }
    }
}

form{
    .form-control{
        &:focus{
            border-color:@base;
            color:@lightGrey;
        }
    }
}





@media screen and (max-width: 640px) {
    header{
        .navbar-default{
            .navbar-toggle{
                &:hover,&:focus{
                    background: none;
                }
            }
            ul.navbar-nav{
                li{
                    a{
                        color:@white;
                        border-bottom:1px solid lighten(@baseDark, 3%);
                        &.getApp{
                            color:@white;
                        }
                        &:after{
                            display: none;
                        }
                        &:hover{
                            color:@base;
                        }
                    }
                }
            }
            .navbar-collapse{
                background: @baseDark;
                
            }
            &.scrolled{
                background: @baseDark;
                .navbar-toggle{
                    
                }
                ul.navbar-nav{
                    li{
                        a{
                            color:@white;
                            &:hover{
                                color:@base;
                            }
                        }
                    }
                }
            }
        }
    }
}

.pre-loader{
    background: @baseDark;
}





/* teamhub */



#teamhub{
	body {
		color: #555555;
	}

	.tp-caption.large_white_light {
		letter-spacing: -4px;
		font-size: 40px ;
	}
	
	.section-heading h1 {
		b.teamhub {
			font-size:larger;
			font-family: planer;
			font-weight:500;
			letter-spacing: -3px;
			span {
				letter-spacing: -16px;
			}
		}
	}
	
	section#about {
		.about-item {
			p {
				font-size: 15px;
			}
		}
	}
	
	section#features {
		.media.feature {
			margin-top: 45px;
			&:first-child {
				margin-top: 30px;
			}
		}
	}

	.section-heading {
		p {
			font-size: 20px;
			line-height: 30px;
		}
	}

	.form-control {
		padding: 0px 20px;
		font-size: 16px;
		color: #555555;
		
	}
	.tp-banner-teamhub {
		height: 100%;
		background-position: center center;
		background-size: cover;
	}

	.tp-banner {
		a {
			margin-right: 20px;
		}
	}
}




















